<div class="navbar-31">
  <div class="container2">
    <div class="column4">
      <div class="column5">
        <div class="link-one1"><a routerLink="/">Accueil</a></div>
        <div class="link-one1"><a routerLink="/apartments">Appartements</a></div>
        <div class="nav-link-dropdown1">
          <div class="link-one1"><a routerLink="/categories">Categories</a></div>
        </div>
      </div>
    </div>
    <div>
      <a routerLink="/"><img class="color-dark15" alt="" src="assets/images/logo.jpeg" width="80px" height="80px" /></a>
    </div>
    <div class="column6">
      <a routerLink="/profile">
        <img
          class="iconamoonprofile-duotone2"
          alt=""
          src="assets/images/iconamoonprofileduotone.svg"
        />
      </a>
    </div>
  </div>
</div>
