<div class="layout-249">
  <div class="section-title16">
    <div class="subheading">Découvrez</div>
    <div class="content50">
      <b class="short-heading-here6">Plus de catégories</b>
      <div class="lorem-ipsum-dolor12">Découvrez plus d'appartements</div>
    </div>
  </div>
  <div class="content51">
    <div class="row6">
      <div class="column33">
        <img class="placeholder-image-icon22" alt="" src="/assets/images/placeholder-image18@2x.png" />
        <div class="content52">
          <b class="heading18">Bateaux</b>
          <div class="text38">Des appartements incroyables situés dans de magnifiques bateaux, offrant une expérience de vie unique au fil de l'eau.</div>
        </div>
      </div>
      <div class="column33">
        <img class="placeholder-image-icon22" alt="" src="/assets/images/placeholder-image19@2x.png" />
        <div class="content52">
          <b class="heading18">Yourtes</b>
          <div class="text38">Découvrez notre vaste sélection de yourtes uniques, spacieuses et confortables, conçues pour une expérience de séjour inoubliable au plus près de la nature.</div>
        </div>
      </div>
      <div class="column33">
        <img class="placeholder-image-icon22" alt="" src="/assets/images/placeholder-image20@2x.png" />
        <div class="content52">
          <b class="heading18">Vans</b>
          <div class="text38">Vivez une expérience unique en séjournant dans un van aménagé avec tout le confort nécessaire pour profiter pleinement de vos aventures en plein air et n'importe où.</div>
        </div>
      </div>
    </div>
    <div class="actions19">
      <div class="styleprimary-smallfalse-da14 btn-primary">
        <div class="relume-all-rights">Voir tout</div>
      </div>
      <div class="stylelink-smallfalse-dark1">
        <a href="#"><div class="relume-all-rights">Réserver maintenant</div></a>
        <img class="icon-facebook" alt="" src="/assets/images/icon--chevronright.svg" />
      </div>
    </div>
  </div>
</div>
