<div class="navbar-311">
  <div class="container30">
    <div class="column60">
      <div class="column61">
        <div class="link-one15"><a routerLink="/">Accueil</a></div>
        <div class="link-one15"><a routerLink="/appartements">Appartements</a></div>
        <div class="nav-link-dropdown11">
          <div class="link-one15"><a routerLink="/categories">Categories</a></div>
        </div>
      </div>
    </div>
    <div class="content108">
      <a routerLink="/"><img class="color-dark9" alt="" src="assets/images/logo.jpeg" width="80px" height="80px" /></a>
    </div>
    <div class="column62">
      <a routerLink="/register"><button class="styleprimary-smallfalse-da14 btn-primary">S’inscrire</button></a>
    </div>
  </div>
</div>
