<div class="layout-3">
  <div class="stylesecondary-smallfalse1 btn-secondary-admin">
    <div class="button10">Gérer catégories</div>
  </div>
  <div class="container6">
    <img
      class="placeholder-image-icon7"
      alt=""
      src="assets/images/category.png"
    />
    <div class="column9">
      <div class="section-title4">
        <b class="short-heading-here2">Gestion facile des catégories</b>
        <div class="text14">
          Gérer facilement les catégories des annonces depuis ce panel.
          Retirez ou affectez une ou plusieurs catégories à l’appart selon ses caractéristiques.
        </div>
      </div>
    </div>
  </div>
</div>
