<div class="contact-2">
  <div class="section-title">
    <div class="tagline"></div>
    <div class="content">
      <b class="heading">Connectez-vous</b>
      <div class="text">
        <span>Connectez-vous ou </span>
        <a routerLink="/register"><span class="inscrivez-vous">inscrivez-vous</span></a>
        <span> en tant que propriétaire ou locataire</span>
      </div>
    </div>
  </div>
  <form class="form">
    <div class="inputs">
      <div class="input">
        <label class="first-name">Email</label>
        <input type="email" class="typedefault" placeholder="Entrez votre email" />
      </div>
    </div>

    <div class="inputs">
      <div class="input">
        <label class="first-name">Mot de Passe</label>
        <input type="password" class="typedefault" placeholder="Entrez votre mot de passe" />
      </div>
    </div>

    <button type="submit" class="styleprimary-smallfalse-da14 btn-primary">
      <span class="button">Je me connecte</span>
    </button>
  </form>
</div>
