<div class="header-501">
  <div class="container22">
    <div class="section-title15">
      <div class="subheading">Tagline</div>
      <div class="content49">
        <b class="short-heading-here6">
          Sélection des meilleurs appartements à la campagne
        </b>
        <div class="lorem-ipsum-dolor12">
          Découvrez une sélection des appartements les mieux notés à la campagne, avec une verdure et un calme plus qu'apaisants.
        </div>
      </div>
    </div>
    <div class="actions18">
      <div class="styleprimary-smallfalse-da6 btn-primary">
        <a href="#cat-loge"><div class="relume-all-rights">Voir</div></a>
      </div>
      <div class="stylesecondary-smallfalse7 btn-secondary">
        <div class="relume-all-rights">Réserver</div>
      </div>
    </div>
  </div>
</div>
