<div class="cta-19">
  <div class="content62">
    <div class="content80">
      <b class="short-heading-here7">Trouvez votre appartement idéal</b>
      <div class="lorem-ipsum-dolor13">
        Découvrez notre sélection d'appartements sous l'eau.
      </div>
    </div>
    <div class="actions23">
      <div class="stylesecondary-smallfalse11 btn-primary">
        <div class="link-one9">Réserver</div>
      </div>
      <div class="stylesecondary-smallfalse13 btn-secondary">
        <div class="link-one9">En savoir plus</div>
      </div>
    </div>
  </div>
</div>
