<div class="navbar-32">
  <div class="container4">
    <div class="column9">
      <div class="column10">
        <div class="link-one2"><a routerLink="/">Accueil</a></div>
        <div class="link-one2"><a routerLink="/apartments">Appartements</a></div>
        <div class="nav-link-dropdown2">
          <div class="link-one2"><a routerLink="/categories">Categories</a></div>
        </div>
      </div>
    </div>
    <div>
      <a routerLink="/"><img class="color-dark15" alt="" src="assets/images/logo.jpeg" width="80px" height="80px" /></a>
    </div>
    <div class="column11">
      <a routerLink="/profile">
        <img
          class="iconamoonprofile-duotone2"
          alt=""
          src="assets/images/iconamoonprofileduotone.svg"
        />
      </a>
    </div>
  </div>
</div>
