<div class="stats-3">
  <div class="content79">
    <div class="column45">
      <div class="subheading2">Expérience unique</div>
      <b class="heading36">Avis des utilisateurs sur nos appartements</b>
    </div>
    <div class="column46">
      <div class="text56">
        Découvrez ce que nos clients disent de nos appartements...
      </div>
      <div class="actions22">
        <div class="stylesecondary-smallfalse12 btn-primary">
          <div class="link-one9">Voir plus</div>
        </div>
        <div class="stylelink-smallfalse-dark4">
          <div class="link-one9">Réserver maintenant</div>
          <img class="chevron-down-icon8" alt="" src="assets/images/icon--chevronright1.svg" />
        </div>
      </div>
    </div>
  </div>
  <div class="stats">
    <div class="stat">
      <b class="heading33">90%</b>
      <b class="text58">Excellent séjour</b>
    </div>
    <div class="stat">
      <b class="heading33">85%</b>
      <b class="text58">Hébergement Insolite</b>
    </div>
    <div class="stat">
      <b class="heading33">95%</b>
      <b class="text58">Expérience inoubliable</b>
    </div>
  </div>
</div>
