<div class="navbar-39">
  <div class="container24">
    <div class="column49">
      <div class="column50">
        <div class="link-one11"><a href="index.html">Accueil</a></div>
        <div class="link-one11"><a href="list-des-appartements.html">Appartements</a></div>
        <div class="nav-link-dropdown9">
          <div class="link-one11"><a href="catgories.html">Categories</a></div>
        </div>
      </div>
    </div>
    <div>
      <a href="index.html"><img class="color-dark9" alt="" src="./public/logo.jpeg" width="80px" height="80px" /></a>
    </div>
    <div class="column51">
      <div>
        <a href="inscription.html"><button class="styleprimary-smallfalse-da14 btn-primary">S’inscrire</button></a>
      </div>
    </div>
  </div>
</div>
