<div class="navbar-37">
  <div class="container21">
    <div class="column30">
      <div class="column31">
        <div class="relume-all-rights"><a routerLink="/">Accueil</a></div>
        <div class="relume-all-rights"><a routerLink="/apartments">Appartements</a></div>
        <div class="nav-link-dropdown7">
          <div class="relume-all-rights"><a routerLink="/categories">Categories</a></div>
        </div>
      </div>
    </div>
    <div class="content48">
      <a routerLink="/"><img class="color-dark15" alt="" src="assets/images/logo.jpeg" width="80px" height="80px" /></a>
    </div>
    <div class="column32">
      <div>
        <a routerLink="/register"><button class="styleprimary-smallfalse-da14 btn-primary">S’inscrire</button></a>
      </div>
    </div>
  </div>
</div>
