<div class="footer-44">
  <div class="content117">
    <div class="logo4">
      <a routerLink="/"><img class="color-dark9" alt="" src="../../../../assets/images/logo.jpeg" width="80px" height="80px" /></a>
    </div>
    <div class="links4">
      <div class="link-four4"><a routerLink="/apartments">Appartements</a></div>
      <div class="link-four4"><a routerLink="/about">A propos</a></div>
      <div class="link-four4"><a routerLink="/contact">Contact</a></div>
      <div class="link-four4"><a routerLink="/faq">FAQ</a></div>
      <div class="link-four4"><a routerLink="/register">Inscription</a></div>
    </div>
    <div class="social-links4">
      <img class="chevron-down-icon11 social" alt="" src="../../../../assets/images/icon--facebook.svg" />
      <img class="chevron-down-icon11 social" alt="" src="../../../../assets/images/icon--instagram.svg" />
      <img class="chevron-down-icon11 social" alt="" src="../../../../assets/images/icon--x.svg" />
      <img class="chevron-down-icon11 social" alt="" src="../../../../assets/images/icon--linkedin.svg" />
      <img class="chevron-down-icon11 socials" alt="" src="../../../../assets/images/icon--youtube.svg" />
    </div>
  </div>
  <div class="credits4">
    <div class="divider4"></div>
    <div class="row17">
      <div class="link-one15">© 2024 AtypikHouse. Tous droits réservés.</div>
      <div class="row17">
        <a href="#"><div class="privacy-policy4">Politique de confidentialité</div></a>
        <a href="#"><div class="privacy-policy4">Conditions générales d'utilisation</div></a>
        <a href="#"><div class="privacy-policy4">Paramètres des cookies</div></a>
      </div>
    </div>
  </div>
</div>
