<div class="header-47">
  <div class="content10">
    <div class="column4">
      <b class="short-heading-here1">Confirmation de réservation</b>
    </div>
    <div class="column8">
      <div class="lorem-ipsum-dolor1">
        Votre réservation a été confirmée avec succès. Profitez de votre séjour!
      </div>
      <div class="actions7">
        <div class="styleprimary-smallfalse-da1 btn-primary">
          <div class="link-one1">Retour à l’accueil</div>
        </div>
      </div>
    </div>
  </div>
</div>
