<div class="contact-17">
  <div class="row11">
    <div class="content87">
      <img class="icon-phone" alt="" src="/assets/images/icon--envelope.svg" />
      <div class="contact-info" id="contact-infos">
        <div class="section-title19">
          <b class="heading40">Email</b>
          <div class="text66">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Suspendisse varius enim in ero.
          </div>
        </div>

        <div class="link">contact&#64;atypickhouse.com</div>

      </div>
    </div>
    <div class="content87">
      <img class="icon-phone" alt="" src="/assets/images/icon--phone.svg" />
      <div class="contact-info">
        <div class="section-title19">
          <b class="heading40">Téléphone</b>
          <div class="text66">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Suspendisse varius enim in ero.
          </div>
        </div>
        <div class="link">+33 01000000</div>
      </div>
    </div>
    <div class="content87">
      <img class="icon-phone" alt="" src="/assets/images/icon--map.svg" />
      <div class="contact-info">
        <div class="section-title19">
          <b class="heading40">Bureau</b>
          <div class="text66">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Suspendisse varius enim in ero.
          </div>
        </div>
        <div class="link">123 Rue de l'Exemple, Paris, France</div>
      </div>
    </div>
  </div>
</div>
